@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #fefffe;
}

body {
  background-color: var(--background-color);
  color: #0e172b;
}

.mask {
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, .7));
}